In [52]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
data = ('/Users/Beba/Documents/JupyterNotebooks/NY2013Crimes.csv')
raw_crimes = pd.read_csv(data)
raw_crimes.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Albany,"97,956",791,8.0,NaN,30,227,526,"4,090",705,"3,243",142,NaN
1,Greece Town,"96,667",151,0.0,NaN,9,60,82,"2,303",332,"1,925",46,NaN
2,Sleepy Hollow Village,"9,996",8,1.0,NaN,0,1,6,58,9,47,2,0.0
3,Potsdam Village,"9,613",8,0.0,NaN,1,0,7,190,17,168,5,NaN
4,Cornwall Town,"9,543",1,0.0,NaN,0,0,1,42,10,32,0,NaN

In [39]:
raw_crimes.drop('Arson3', axis=1, inplace=True)

In [42]:
raw_crimes.isnull().sum()

City                                      0
Population                                0
Violent\ncrime                            0
Murder and\nnonnegligent\nmanslaughter    0
Rape\n(legacy\ndefinition)2               0
Robbery                                   0
Aggravated\nassault                       0
Property\ncrime                           0
Burglary                                  0
Larceny-\ntheft                           0
Motor\nvehicle\ntheft                     0
dtype: int64

In [40]:
raw_crimes.dropna(axis=0, inplace=True)

In [41]:
raw_crimes.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
0,Albany,"97,956",791,8.0,30,227,526,"4,090",705,"3,243",142
1,Greece Town,"96,667",151,0.0,9,60,82,"2,303",332,"1,925",46
2,Sleepy Hollow Village,"9,996",8,1.0,0,1,6,58,9,47,2
3,Potsdam Village,"9,613",8,0.0,1,0,7,190,17,168,5
4,Cornwall Town,"9,543",1,0.0,0,0,1,42,10,32,0

In [54]:
raw_crimes.dtypes

City                                       object
Population                                float64
Violent\ncrime                            float64
Murder and\nnonnegligent\nmanslaughter    float64
Rape\n(legacy\ndefinition)2                object
Robbery                                   float64
Aggravated\nassault                        object
Property\ncrime                           float64
Burglary                                  float64
Larceny-\ntheft                           float64
Motor\nvehicle\ntheft                     float64
Rape                                      float64
Assault                                   float64
dtype: object

In [48]:
raw_crimes['Rape'] = raw_crimes['Rape\n(legacy\ndefinition)2'].str.replace(',','').astype(float)
raw_crimes['Robbery'] = raw_crimes['Robbery'].str.replace(',','').astype(float)
raw_crimes['Assault'] = raw_crimes['Aggravated\nassault'].str.replace(',','').astype(float)
raw_crimes['Property\ncrime'] = raw_crimes['Property\ncrime'].str.replace(',','').astype(float)
raw_crimes['Burglary'] = raw_crimes['Burglary'].str.replace(',','').astype(float)
raw_crimes['Larceny-\ntheft'] = raw_crimes['Larceny-\ntheft'].str.replace(',','').astype(float)
raw_crimes['Motor\nvehicle\ntheft'] = raw_crimes['Motor\nvehicle\ntheft'].str.replace(',','').astype(float)

In [50]:
raw_crimes.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Rape,Assault
0,Albany,97956.0,791.0,8.0,30,227.0,526,4090.0,705.0,3243.0,142.0,30.0,526.0
1,Greece Town,96667.0,151.0,0.0,9,60.0,82,2303.0,332.0,1925.0,46.0,9.0,82.0
2,Sleepy Hollow Village,9996.0,8.0,1.0,0,1.0,6,58.0,9.0,47.0,2.0,0.0,6.0
3,Potsdam Village,9613.0,8.0,0.0,1,0.0,7,190.0,17.0,168.0,5.0,1.0,7.0
4,Cornwall Town,9543.0,1.0,0.0,0,0.0,1,42.0,10.0,32.0,0.0,0.0,1.0

In [55]:
raw_crimes.drop(['Rape\n(legacy\ndefinition)2'], axis=1, inplace=True)
raw_crimes.drop(['Aggravated\nassault'], axis=1, inplace=True)

In [59]:
raw_crimes.dtypes

City                                       object
Population                                float64
Violent\ncrime                            float64
Murder and\nnonnegligent\nmanslaughter    float64
Robbery                                   float64
Property\ncrime                           float64
Burglary                                  float64
Larceny-\ntheft                           float64
Motor\nvehicle\ntheft                     float64
Rape                                      float64
Assault                                   float64
dtype: object

In [61]:
scaled_crimes = pd.DataFrame()

scaled_crimes['City'] = raw_crimes['City']
scaled_crimes['Population'] = preprocessing.scale(raw_crimes['Population'])
scaled_crimes['Violent\ncrime'] = preprocessing.scale(raw_crimes['Violent\ncrime'])
scaled_crimes['Murder and\nnonnegligent\nmanslaughter'] = preprocessing.scale(raw_crimes['Murder and\nnonnegligent\nmanslaughter'])
scaled_crimes['Robbery'] = preprocessing.scale(raw_crimes['Robbery'])
scaled_crimes['Property\ncrime'] = preprocessing.scale(raw_crimes['Property\ncrime'])
scaled_crimes['Burglary'] = preprocessing.scale(raw_crimes['Burglary'])
scaled_crimes['Larceny-\ntheft'] = preprocessing.scale(raw_crimes['Larceny-\ntheft'])
scaled_crimes['Motor\nvehicle\ntheft'] = preprocessing.scale(raw_crimes['Motor\nvehicle\ntheft'])
scaled_crimes['Rape'] = preprocessing.scale(raw_crimes['Rape'])
scaled_crimes['Assault'] = preprocessing.scale(raw_crimes['Assault'])

## cleaned the data, now create features

## split training and test sets

## do yer models

# REPORT TIME