In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
data = ('/Users/Beba/Documents/JupyterNotebooks/NY2013Crimes.csv')
raw_crimes = pd.read_csv(data)
raw_crimes.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Albany,"97,956",791,8.0,NaN,30,227,526,"4,090",705,"3,243",142,NaN
1,Greece Town,"96,667",151,0.0,NaN,9,60,82,"2,303",332,"1,925",46,NaN
2,Sleepy Hollow Village,"9,996",8,1.0,NaN,0,1,6,58,9,47,2,0.0
3,Potsdam Village,"9,613",8,0.0,NaN,1,0,7,190,17,168,5,NaN
4,Cornwall Town,"9,543",1,0.0,NaN,0,0,1,42,10,32,0,NaN

In [39]:
raw_crimes.drop('Arson3', axis=1, inplace=True)

In [42]:
raw_crimes.isnull().sum()

City                                      0
Population                                0
Violent\ncrime                            0
Murder and\nnonnegligent\nmanslaughter    0
Rape\n(legacy\ndefinition)2               0
Robbery                                   0
Aggravated\nassault                       0
Property\ncrime                           0
Burglary                                  0
Larceny-\ntheft                           0
Motor\nvehicle\ntheft                     0
dtype: int64

In [40]:
raw_crimes.dropna(axis=0, inplace=True)

In [41]:
raw_crimes.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft
0,Albany,"97,956",791,8.0,30,227,526,"4,090",705,"3,243",142
1,Greece Town,"96,667",151,0.0,9,60,82,"2,303",332,"1,925",46
2,Sleepy Hollow Village,"9,996",8,1.0,0,1,6,58,9,47,2
3,Potsdam Village,"9,613",8,0.0,1,0,7,190,17,168,5
4,Cornwall Town,"9,543",1,0.0,0,0,1,42,10,32,0

In [45]:
raw_crimes.dtypes

City                                       object
Population                                 object
Violent\ncrime                             object
Murder and\nnonnegligent\nmanslaughter    float64
Rape\n(legacy\ndefinition)2                object
Robbery                                    object
Aggravated\nassault                        object
Property\ncrime                            object
Burglary                                   object
Larceny-\ntheft                            object
Motor\nvehicle\ntheft                      object
dtype: object

In [46]:
raw_crimes['Population'] = raw_crimes['Population'].str.replace(',','').astype(float)
raw_crimes['Violent\ncrime'] = raw_crimes['Violent\ncrime'].str.replace(',','').astype(float)
raw_crimes['Murder'] = raw_crimes['Murder and\nnonnegligent\nmanslaughter'].str.replace(',','').astype(float)
raw_crimes['Rape'] = raw_crimes['Rape\n(legacy\ndefinition)2'].str.replace(',','').astype(float)
raw_crimes['Robbery'] = raw_crimes['Robbery'].str.replace(',','').astype(float)
raw_crimes['Assault'] = raw_crimes['Aggravated\nassault'].str.replace(',','').astype(float)
raw_crimes['Property\ncrime'] = raw_crimes['Property\ncrime'].str.replace(',','').astype(float)
raw_crimes['Burglary'] = raw_crimes['Burglary'].str.replace(',','').astype(float)
raw_crimes['Larceny-\ntheft'] = raw_crimes['Larceny-\ntheft'].str.replace(',','').astype(float)
raw_crimes['Motor\nvehicle\ntheft'] = raw_crimes['Motor\nvehicle\ntheft'].str.replace(',','').astype(float)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas